<div class="app-card">
    <h2 class="govuk-heading-m">
        <a href="/applications/{{ params.id }}">
            {{ params.fullName }}
        </a>
    </h2>
    <p>
       <b>
            Application reference:
        </b> {{ params.id }}
    </p>
</div>