{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({
      text: "Back",
      href: "/"
    }) }}

    <h1 class="govuk-heading-xl">
      Application for {{application.fullName}}
    </h1>

    {% if application.status == "Approved" %}
      {{ govukTag({
        text: "Lover",
        classes: "govuk-tag--green"
			}) }}
    {% elseif application.status == "Rejected" %}

			{{ govukTag({
				text: "Bad blood",
				classes: "govuk-tag--red"
			}) }}

    {% elseif application.status == "Undecided" %}

			{{ govukTag({
				text: "Speak now",
				classes: "govuk-tag--purple"
			}) }}

    {% endif %}

  {% set addressHtml %}
    {{application.address.line1}} <br>
    {{application.address.town}} <br>
    {{application.address.postcode}}
  {% endset %}

    {% set vehicleLengthHtml %}
      {% if application.isVehicleLengthExtended %}
        {{application.totalVehicleLengthMetres}} metres
      {% else %}
        Less than 18.65 m
      {% endif %}
  {% endset %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Name"
      },
      value: {
        text: application.fullName
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Address"
      },
      value: {
        html: addressHtml
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "Vehicle length, including trailers"
      },
      value: {
        html: vehicleLengthHtml
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    }

  ]
}) }}

  </div>
</div>

{% endblock %}