{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({
      text: "Back",
      href: "/"
    }) }}

    <h1 class="govuk-heading-xl">
      Application for {{application.fullName}}
    </h1>

    {% if application.status == "Approved" %}
      {{ govukTag({
        text: "Lover",
        classes: "govuk-tag--green govuk-!-margin-bottom-3"
			}) }}
    {% elseif application.status == "Rejected" %}

			{{ govukTag({
				text: "Bad blood",
				classes: "govuk-tag--red govuk-!-margin-bottom-3"
			}) }}

    {% elseif application.status == "Undecided" %}

			{{ govukTag({
				text: "Speak now",
				classes: "govuk-tag--purple govuk-!-margin-bottom-3"
			}) }}

    {% endif %}

    {% from "govuk/components/button/macro.njk" import govukButton %}
      {% if application.status == "Undecided" %}
        <div class="govuk-button-group">
          <form action="/applications/{{ application.id }}/accept" method="post">
            {{ govukButton({
              text: "Accept application"
            }) }}
          </form>
          <form action="/applications/{{ application.id }}/reject" method="post">
            {{ govukButton({
              text: "Reject application",
              classes: "govuk-button--secondary"
            }) }}
          </form>
        </div>
      {% endif %}

  {% set addressHtml %}
    {{application.address.line1}} <br>
    {{application.address.town}} <br>
    {{application.address.postcode}}
  {% endset %}

    {% set TaylorSwiftHtml %}
      {% if application.hasFavouriteTaylorSwiftSong %}
        {{application.favouriteTaylorSong}} 
      {% else %}
        No favourite song
      {% endif %}
  {% endset %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Name"
      },
      value: {
        text: application.fullName
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Address"
      },
      value: {
        html: addressHtml
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    },
    {
      key: {
        text: "Favourite Taylor Swift song"
      },
      value: {
        html: TaylorSwiftHtml
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "address"
          }
        ]
      }
    }

  ]
}) }}

  </div>
</div>

{% endblock %}